<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:action="@{/person}" th:object="${form}">
        <div>
            <label for="name">名前:</label>
            <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">名前エラー</span>
        </div>
        <div>
            <label for="age">年齢:</label>
            <input type="text" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error">年齢エラー</span>
        </div>
        <button type="submit">送信</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>年齢</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${persons}">
                <th th:text="${person.name}">名前</th>
                <th th:text="${person.age}">年齢</th>
            </tr>
        </tbody>
    </table>
</body>
</html>