<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/person/create.css}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <form method="post" th:action="@{/person/create}" th:object="${personCreateForm}">
        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
            <p th:each="err : ${fields.globalErrors()}" th:text="${err}">エラーメッセージ</p>
        </div>
        <div>
            <label for="name">名前:</label>
            <input type="text" th:field="*{name}" th:errorclass="danger" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">名前エラー</p>
        </div>
        <div>
            <label for="age">年齢:</label>
            <input type="text" th:field="*{age}" th:errorclass="danger" />
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error">年齢エラー</p>
        </div>
        <button type="submit">送信</button>
    </form>
</body>
</html>