<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人間</title>
    <link th:href="@{/css/person/index.css}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <a th:href="@{/person/create}">新規作成</a>
    <p th:text="${message}"></p>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>年齢</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${persons}">
                <th th:text="${person.name}">名前</th>
                <th th:text="${person.age}">年齢</th>
                <th><a th:href="@{/person/{id} (id=${person.id})}">個人ページ</a></th>
            </tr>
        </tbody>
    </table>
</body>
</html>